<a href="https://colab.research.google.com/github/OskarKrafft/Machine-Learning-Project/blob/main/notebooks/05_Test_Classification_Metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ADMIN

In [1]:
# Mount GDrive to facilitate data import
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Change working directory to project folder
%cd /content/drive/MyDrive/Colab Notebooks/Machine-Learning-Project

/content/drive/MyDrive/Colab Notebooks/Machine-Learning-Project

# Import Test Data

In [36]:
# Importing the data
import pandas as pd
eppes_cleaned = pd.read_csv('./data/processed/eppes_cleaned.csv')
eppes_cleaned = eppes_cleaned.drop(eppes_cleaned.columns[0], axis = 1)

# Import Excel sheet containing column indeces to be dropped
columns_analysis = pd.read_excel('./data/interim/Drop_Columns_categorical.xlsx')
columns_analysis = columns_analysis.drop(columns_analysis.columns[[0]], axis = 1)

# Create list of names of categorical columns 
col_names_categorical = []
for i in range(872):
  if columns_analysis.iloc[i, 3] == 'categorical':
    col_names_categorical.append(columns_analysis.iloc[i, 1])

# Change datatype of categorical variables to object
eppes_cleaned[col_names_categorical] = eppes_cleaned[col_names_categorical].astype('object')

# Define X and y
print(eppes_cleaned.head())
X = eppes_cleaned.drop(columns='qg1') # reference variable which contains voted y/n
y = eppes_cleaned['qg1'] # reference variable which contains voted y/n

# 80/20 train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.20, random_state=123)

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
y_test = label_encoder.fit_transform(y_test)

y_test_df = pd.DataFrame(data=y_test)
y_test_df.value_counts(normalize=True)

label_encoder = LabelEncoder()
y_train = label_encoder.fit_transform(y_train)

y_train_df = pd.DataFrame(data=y_train)
y_train_df.value_counts(normalize=True)

# Setting up pre-processing pipeline
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression

# Identify all categorical variables by data type
categorical_X_features = X_test.select_dtypes(include=['object', 'bool']).columns

# OneHotEncode all categorical variables
categorical_transformer = OneHotEncoder(handle_unknown="error")

preprocessor = ColumnTransformer(remainder = 'passthrough', # remainder = passthrough for numerical variables to be kept unchanged
    transformers=[
        ("cat", categorical_transformer, categorical_X_features)]
)
# Inspect the number of variables after pre-processing

# Fit the pipeline to the testing data
preprocessor.fit(X_test)
X_test_ = preprocessor.transform(X_test)

X_test_df = pd.DataFrame(data=X_test_)
X_test_df.describe()

# Fit the pipeline to the training data
preprocessor.fit(X_train)
X_train_ = preprocessor.transform(X_train)

X_train_df = pd.DataFrame(data=X_train_)
X_train_df.describe()

   q1.1  q1.2  q1.3  q1.4  q1.5  q1.6  q1.7  q1.8  q1.9  q1.10  ...  d43a  \
0   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0  ...   2.0
1   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0    0.0  ...   2.0
2   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0  ...   2.0
3   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0  ...   1.0
4   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0   0.0    0.0  ...   2.0

   d43b  d46.8  d60  d62_1  d62_2  d63  d72_1  d72_2  d77
0   1.0    1.0  1.0    3.0    6.0  1.0    3.0    3.0  2.0
1   1.0    1.0  3.0    2.0    6.0  3.0    2.0    2.0  3.0
2   2.0    1.0  1.0    1.0    5.0  2.0    2.0    2.0  1.0
3   1.0    1.0  2.0    1.0    1.0  3.0    2.0    2.0  1.0
4   1.0    1.0  1.0    1.0    5.0  2.0    2.0    2.0  3.0

[5 rows x 311 columns]

,0,1,2,3,4,5,6,7,8,9,...,925,926,927,928,929,930,931,932,933,934
count,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000,...,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000,21971.000000
mean,0.250603,0.571845,0.141232,0.032497,0.003823,0.225342,0.555414,0.215921,0.003323,0.148195,...,0.034682,0.043557,0.141778,0.034591,0.051613,1.544581,51.483638,2.184835,0.256611,0.757908
std,0.433370,0.494823,0.348268,0.177321,0.061715,0.417817,0.496931,0.411469,0.057547,0.355302,...,0.182977,0.204113,0.348830,0.182746,0.221250,0.498020,18.164264,1.097736,0.676453,0.428359
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,15.000000,1.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,37.000000,2.000000,0.000000,1.000000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,53.000000,2.000000,0.000000,1.000000
75%,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,66.000000,3.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,98.000000,20.000000,20.000000,1.000000

In [37]:
X_train

,q1.1,q1.2,q1.3,q1.4,q1.5,q1.6,q1.7,q1.8,q1.9,q1.10,...,d43a,d43b,d46.8,d60,d62_1,d62_2,d63,d72_1,d72_2,d77
10262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,1.0,1.0,4.0,2.0,3.0,2.0
14692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,1.0,6.0,2.0,2.0,3.0,2.0
22653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,6.0,6.0,3.0,3.0,4.0,2.0
8460,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,3.0,1.0,1.0,4.0,2.0,2.0,2.0
11320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,3.0,1.0,1.0,3.0,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,1.0,7.0,7.0,3.0,3.0,2.0,2.0
21602,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,3.0,1.0,6.0,1.0,2.0,3.0,1.0
17730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,1.0,1.0,3.0,4.0,4.0,3.0
15725,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,2.0,5.0,5.0,3.0,3.0,3.0,2.0
19966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,1.0,6.0,3.0,3.0,2.0,2.0

In [38]:
X_test

,q1.1,q1.2,q1.3,q1.4,q1.5,q1.6,q1.7,q1.8,q1.9,q1.10,...,d43a,d43b,d46.8,d60,d62_1,d62_2,d63,d72_1,d72_2,d77
23403,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,2.0,1.0,7.0,1.0,4.0,4.0,1.0
17863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,4.0,3.0
9431,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,3.0,1.0,7.0,8.0,1.0,1.0,3.0
6100,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,3.0,1.0,1.0,3.0,3.0,2.0,4.0
26726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,3.0,2.0,6.0,4.0,1.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,1.0,1.0,1.0,2.0,2.0,2.0
26567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,7.0,2.0,1.0,1.0,3.0
16855,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,1.0,6.0,3.0,4.0,4.0,3.0
11510,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,1.0,6.0,1.0,3.0,1.0,3.0
16733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,1.0,1.0,4.0,2.0,2.0,1.0

In [39]:
y_test

array([1, 0, 0, ..., 1, 0, 1])

In [40]:
y_train

array([1, 1, 1, ..., 1, 0, 0])

In [42]:
X_train.dtypes.value_counts()

object     166
float64    144
dtype: int64

In [43]:
X_test.dtypes.value_counts()

object     166
float64    144
dtype: int64

# Import Models

In [6]:
# ! pip install joblib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [44]:
import joblib 

best_lg = joblib.load('./models/best-logistic-regression-model.joblib')
best_nb = joblib.load('./models/best-nb-model.joblib')
best_svm = joblib.load('./models/best-svm-model.joblib')
best_rf = joblib.load('./models/best-rf-model.joblib')

# Test

In [45]:
# fit all the models to the test data
best_lg.fit(X_train, y_train)
best_nb.fit(X_train, y_train)
best_svm.fit(X_train, y_train)
best_rf.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('cat', OneHotEncoder(),
                                                  Index(['d70', 'd71a_1', 'd71a_2', 'd71a_3', 'qa1a_1', 'qa1a_2', 'qa1a_3',
       'qa1a_4', 'qa1a_5', 'qa1a_6',
       ...
       'd25', 'd43a', 'd43b', 'd60', 'd62_1', 'd62_2', 'd63', 'd72_1', 'd72_2',
       'd77'],
      dtype='object', length=166))])),
                ('classifier',
                 RandomForestClassifier(max_depth=90, n_estimators=944,
                                        random_state=123))])

In [46]:
# predict
y_pred_lg = best_lg.predict(X_test)
y_pred_nb = best_nb.predict(X_test)
y_pred_svm = best_svm.predict(X_test)
y_pred_rf = best_rf.predict(X_test)

In [58]:
# report f1 and mcc

from sklearn.metrics import matthews_corrcoef, f1_score, accuracy_score, precision_score, recall_score

# f1 scores
f1 = []
f1.append((f1_score(y_test, y_pred_lg)))
f1.append((f1_score(y_test, y_pred_nb)))
f1.append((f1_score(y_test, y_pred_svm)))
f1.append((f1_score(y_test, y_pred_rf)))

# mcc scores
mcc = []
mcc.append((matthews_corrcoef(y_test, y_pred_lg)))
mcc.append((matthews_corrcoef(y_test, y_pred_nb)))
mcc.append((matthews_corrcoef(y_test, y_pred_svm)))
mcc.append((matthews_corrcoef(y_test, y_pred_rf)))

# accuracy
acc = []
acc.append((accuracy_score(y_test, y_pred_lg)))
acc.append((accuracy_score(y_test, y_pred_nb)))
acc.append((accuracy_score(y_test, y_pred_svm)))
acc.append((accuracy_score(y_test, y_pred_rf)))

# precision
prec = []
prec.append((precision_score(y_test, y_pred_lg)))
prec.append((precision_score(y_test, y_pred_nb)))
prec.append((precision_score(y_test, y_pred_svm)))
prec.append((precision_score(y_test, y_pred_rf)))

# recall
rec = []
rec.append((recall_score(y_test, y_pred_lg)))
rec.append((recall_score(y_test, y_pred_nb)))
rec.append((recall_score(y_test, y_pred_svm)))
rec.append((recall_score(y_test, y_pred_rf)))

# define model names
model = ['Logistic Regression', 'Naive Bayes', 'Support Vector Machine', 'Random Forest']

# create data frame
test_results = pd.DataFrame({'Model': model, 'f1': f1, 'MCC': mcc, 'Acc.': acc, 'Prec.': prec, 'Rec.': rec})

print(test_results)

                    Model        f1       MCC      Acc.     Prec.      Rec.
0     Logistic Regression  0.802777  0.645164  0.824140  0.826050  0.780778
1             Naive Bayes  0.638044  0.351331  0.679228  0.660851  0.616759
2  Support Vector Machine  0.795753  0.640128  0.821409  0.836324  0.758936
3           Random Forest  0.806419  0.649948  0.826506  0.825364  0.788324

In [59]:
# Round test_results
test_results_rounded = test_results.round(decimals=3)

In [60]:
# Transform test_results_rounded to Latex

print(test_results_rounded.to_latex(index=False))

\begin{tabular}{lrrrrr}
\toprule
                 Model &    f1 &   MCC &  Acc. &  Prec. &  Rec. \\
\midrule
   Logistic Regression & 0.803 & 0.645 & 0.824 &  0.826 & 0.781 \\
           Naive Bayes & 0.638 & 0.351 & 0.679 &  0.661 & 0.617 \\
Support Vector Machine & 0.796 & 0.640 & 0.821 &  0.836 & 0.759 \\
         Random Forest & 0.806 & 0.650 & 0.827 &  0.825 & 0.788 \\
\bottomrule
\end{tabular}